<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MailFormatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MailFormatter.Properties.Settings>
            <setting name="TemplateIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FooterText" serializeAs="String">
                <value>Mailify © 2026</value>
            </setting>
            <setting name="IncludeLogo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogoPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FooterColor" serializeAs="String">
                <value>#0255A3</value>
            </setting>
            <setting name="FooterFontFamily" serializeAs="String">
                <value>Calibri</value>
            </setting>
            <setting name="FooterFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="IncludeFooter" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAllTemplates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowRawRibbonButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HorizontalAlign" serializeAs="String">
                <value>left</value>
            </setting>
            <setting name="VerticalAlign" serializeAs="String">
                <value>top</value>
            </setting>
        </MailFormatter.Properties.Settings>
    </userSettings>
</configuration>